.nav-link {
    height: 60px; 
    border-radius: 16px !important;
    font-family: "Glina Script em.";
    font-size: 14px;   
    font-weight: 400;
    text-transform: uppercase;
    color:black;
    display: flex;        
    align-items: center;  
    padding-left: 20px;
    transition: all 0.3s;
}

.nav-link:hover {
    color:black;
    background-color: #e2ee8c88 !important;
    border-radius: 30px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075)
}

.nav-link.active,
.nav-link:focus,
.nav-link:active {
    background-color: #E2EE8C !important;
    color: black !important;
    border-radius: 30px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075)
}

.icon {
    width: 18px;
    height: 18px;
}