.card {
    background-color: #fe9b74;
    border: 0;
    border-radius: 16px;
}

.card-body {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.form-check-label {
    font-family: "Glina Script em.";
    font-size: 18px;   
    font-weight: 400;
    letter-spacing: 0.5px;
    word-break: break-word;
}

.text-muted {
    font-family: "Glina Script em.";
    font-size: 13px;   
    font-weight: 400;
    color: #4B4B4B;
}

.trash-icon {
    height: 16px;
    width: 16px;
    background-image: url('./assets/trash.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.trash-icon:hover {
    background-image: url('./assets/trashBlack.svg');
}

.form-check-input {
    border-color: rgb(234, 234, 234);
}


.form-check-input:checked {
    background-color: white;
    border-color: white;
}

.form-check-input:focus {
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.333);
}