body {
  background-color: #fffef08f;
}

.form-control:focus {
  border-color: #8a2be2;
  box-shadow: 0 0 0 0.2rem #e0b3f071;
}

.btn-primary {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.btn-primary:hover {
  background-color: #6f22b6; 
  border-color: #6f22b6;    
}

.btn-primary:focus:active {
  background-color: #4c1184; 
  border-color: #4c1184;   
}

.btn-danger {
  background-color: #CF2F31;
  border-color: #CF2F31;
}

.btn-danger:hover {
  background-color: #A51A22;
  border-color: #A51A22;
}

.btn-danger:focus:active {
  background-color: #920110;
  border-color: #920110;
}

.form-check-input:checked {
  background-color: #8a2be2;
  border-color: #8a2be2;
}

.form-check-input:focus {
  /* background-color: #8a2be2; */
  border-color: #8a2be2;
  box-shadow: 0 0 0 0.2rem #e0b3f071;
}